<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.2.1" targetFramework="net48" />
  <package id="Cqse.Bummer" version="1.0.3" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.1" targetFramework="net461" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="NUnit" version="4.0.1" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions" version="20.0.15" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.TestingHelpers" version="20.0.15" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="20.0.15" targetFramework="net48" />
</packages>