<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <!-- By default, the upload daemon uses the system proxy settings.
         Uncomment the following XML to make the uploader use a custom proxy.
         See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings
         for all available options.
      <defaultProxy>
        <proxy bypassonlocal="true" proxyaddress="http://proxy.domain.org:8888/" />
      </defaultProxy>
      -->
    <!-- By default, the upload daemon uses the system proxy settings.
         Uncomment the following XML to make the uploader ignore this and NOT use any proxy.
         See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings
         for all available options.
      <defaultProxy>
        <proxy usesystemdefault="False" />
      </defaultProxy>
      -->
  </system.net>
</configuration>
