<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <!-- By default, the upload daemon uses the system proxy settings.
         Uncomment the following XML to make the uploader use a custom proxy.
         See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings
         for all available options.
      <defaultProxy>
        <proxy bypassonlocal="true" proxyaddress="http://proxy.domain.org:8888/" />
      </defaultProxy>
      -->
    <!-- By default, the upload daemon uses the system proxy settings.
         Uncomment the following XML to make the uploader ignore this and NOT use any proxy.
         See https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings
         for all available options.
      <defaultProxy>
        <proxy usesystemdefault="False" />
      </defaultProxy>
      -->
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!--
      This settings allows the line coverage merge algorithm to allocate a large data structure to cache
      the merged coverage in memory on 64bit systems (does nothing on a 32bit system).
      While this should usually not be necessary, in edge cases this may allow us to process amounts of
      coverage that could otherwise not be merged.
    -->
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
