<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="UploadDaemon.log" maxArchiveFiles="10"
            archiveNumbering="Sequence" archiveFileName="UploadDaemon.{#######}.log" archiveAboveSize="10485760" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <!-- Uncomment the following line to open a console with log messages when the upload daemon is started
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    -->
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>