<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cqse.Bummer" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.File" version="11.2.3" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.10.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.2.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TestableIO.System.IO.Abstractions" version="20.0.15" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="20.0.15" targetFramework="net48" />
  <package id="YamlDotNet" version="15.1.1" targetFramework="net48" />
</packages>