<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="publishSocket" value="tcp://0.0.0.0:7145"/>
        <add key="requestSocket" value="tcp://0.0.0.0:7146"/>
    </appSettings>
</configuration>
