<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Commander.log" maxArchiveFiles="10"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ShortType,Message,Stacktrace:innerFormat=ShortType,Message,Stacktrace:maxInnerExceptionLevel=10}"
            archiveNumbering="Sequence" archiveFileName="Commander.{#######}.log" archiveAboveSize="10485760" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile">
    </logger>
  </rules>
</nlog>